.text-darkpurple{
	color: #3E1D47;
}
.text-purple{
	color: #70367C;
}
.bg-purple{
	background-color: #70367C;
	color: #ffffff;
}
.avatar-mix{
	margin-left: -60px;
}
.theme-primary .progress-bar-white {
    background-color: #ffffff;
}
.progress {
  background-color: #00000040;
}
.bg-skyblue{
	background-color: #95CFD5;
	color: #ffffff;
}
.bg-orange{
	background-color: #FD7E50	;
	color: #ffffff;
}
.border-skyblue{
	border-color: #95CFD5 !important;
}
.border-purple{
	border-color: #70367C !important;
}
.border-orange{
	border-color: #FD7E50 !important;
}
.bs-8 {
    border-left: 8px solid #f3f6f9;
}
.wrapper .border-lightfade {
    border-color: rgb(72 72 72 / 48%) !important;
}
.btn-black {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}
.btn-black:hover, .btn-black:active, .btn-black:focus, .btn-black.active {
    background-color: #393939 !important;
    border-color: #393939 !important;
    color: #ffffff;
}


.development-box{
	padding-bottom: 30px;
}
.left-section{
	padding: 0px 45px;
}
.light-skin .big-left-section{
	background-color: #fff;
	border-radius: 0px 50px 50px 0px;
}
.dark-skin .big-left-section{
	background-color: #12213c;
	border-radius: 0px 50px 50px 0px;
}
.rtl .big-left-section{
	border-radius: 50px 0px 0px 50px;
}
.right-section{
	padding: 0px 30px;
}
.light-skin .bg-lightbrown{
	background-color: #FBF5EE;
}
.dark-skin .bg-lightbrown{
	background-color: #0c1a32;
}
.image-section{
	background-image: url(../../images/custom.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}
.theme-primary .hover-primary:hover, .theme-primary .hover-primary:focus {
    color: #70367C !important;
}
.left-task-section{
	padding: 0px 26px;
}
.left-section-1{
	padding: 0px 30px;
}
/*.demo-radio-button label {
    min-width: 00px;
    margin-bottom: 0px;
}
.theme-primary [type=radio].with-gap.radio-col-primary:checked + label:after {
    border: 2px solid #000000;
    background-color: #000000;
    z-index: 0;
    content: 'f058';
}
.theme-primary [type=radio].with-gap.radio-col-primary:checked + label:before {
    border: 2px solid #000000;

}*/

.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*=========================================================*/
@media only screen and (max-width: 1600px) {
  .right-section{
		padding: 0px 25px;
	}
}
@media only screen and (max-width: 1440px) {
  .right-section{
		padding: 0px 5px;
	}
	.left-section{
		padding: 0px 35px;
	}
	.left-section-1{
		padding: 0px 20px;
	}
}
@media only screen and (max-width: 1366px) {
  .big-left-section{
		background-color: #fff;
		border-radius: 0px 0px 50px 50px;
	}
	.right-section{
		padding: 0px 15px;
	}
	.right-border{
		border-right: 1px solid #fff;
	}
	.left-section-1{
		padding: 0px 15px;
	}
}

@media only screen and (max-width: 1024px) {
	.left-section{
		padding: 0px 20px;
	}
	.left-task-section{
		padding: 0px 25px;
	}
}
@media (min-width: 992px){  
	.ms-lg-5 {
	    margin-left: 5px !important;
	}
}
@media only screen and (max-width: 835px) {
	.right-border{
		border-right: 0px solid #fff;
	}
}